<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script> <link rel="stylesheet"
            href="{% static 'styles/style.css' %}">
        <!-- {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} -->
        <title>Yance Food Cali</title>
    </head>
    <body>
        <!-- <h1>LOGIN</h1> -->
        <div
            class="w-100 h-100 d-flex flex-row justify-content-center align-items-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inicio de sesión</h5>
                    <form action="/auth/autenticar" method="post"
                        class="form-control border-0">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <label for="usuario" class="form-label">Usuario</label>
                                <input type="text" name="usuario" id="usuario"
                                    class="form-control" autocomplete="off">
                            </div>
                            <div class="col-12">
                                <label for="clave" class="form-label">Clave</label>
                                <input type="password" name="clave" id="clave"
                                    class="form-control" autocomplete="off">
                            </div>
                        </div>
                        {% if messages %}
                        <br>
                        {% for message in messages %}
                        <div class="row">
                            <div class="col-12">
                                <div
                                    class="alert {{ message.tags }} alert-dismissible"
                                    role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <br>
                        <div
                            class="row d-flex justify-content-center align-items-center">
                            <div class="col-6 w-auto">
                                <button type="submit" class="btn btn-primary">Iniciar
                                    sesión</button>
                            </div>
                        </div>
                        <div
                            class="container-fluid d-flex justify-content-center p-0 mt-3">
                            <p>¿No tiene cuenta?
                                <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#form-modal"
                                    class="btn btn-link p-0 m-0 text-center text-decoration-none">
                                    Registrate aquí
                                </button>
                            </p>
                        </div>
                    </form>
                    {% block modal-register %}
                    <div class="modal fade" id="form-modal"
                        data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="form-modalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5"
                                        id="staticBackdropLabel">Formulario de
                                        registro</h1>
                                    <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/auth/sign-up" method="post"
                                        id="register-form" class="form-control">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="first-name"
                                                    class="form-label fw-bold">Nombre</label>
                                                <input type="text"
                                                    name="first-name" id
                                                    class="form-control"
                                                    required>
                                            </div>
                                            <div class="col-6">
                                                <label for="last-name"
                                                    class="form-label fw-bold">Apellidos</label>
                                                <input type="text"
                                                    name="last-name" id
                                                    class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="email"
                                                    class="form-label fw-bold">Correo
                                                    electronico</label>
                                                <input type="email" name="email"
                                                    id class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="direccion"
                                                    class="form-label fw-bold">Dirección</label>
                                                <input type="text"
                                                    name="direccion" id
                                                    class="form-control"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="usuario"
                                                    class="form-label fw-bold">Usuario</label>
                                                <input type="text"
                                                    name="usuario" id
                                                    class="form-control"
                                                    required
                                                    autocomplete="off">
                                            </div>
                                            <div class="col-6">
                                                <label for="clave"
                                                    class="form-label fw-bold">Clave</label>
                                                <input type="password"
                                                    name="clave" id
                                                    class="form-control"
                                                    required
                                                    autocomplete="off">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" form="register-form"
                                        class="btn btn-primary"
                                        data-bs-dismiss="modal">
                                        Registrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock modal-register %}
                    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
        </div>
    </body>
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/logic.js' %}"></script>
</html>